@page {
    padding: 0;
    margin: 0;
    size: a4;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

body {
    padding: 1.5cm;
}

table {
    width: 100%;
}
.header-table {
    margin-bottom: 1cm;
}

.cell-logo img {
    height: 2.5cm;
}

.cell-title {
    text-align: center;
    background-color: #083A4A;
    padding: 1cm;
}

.cell-title * {
    color: #fff;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.bus-line-name {
    font-size: 64px;
    font-weight: bold;
}

.spacer {
    height: 8cm;
}

.report-table {
    width: 60% !important;
}

.report-table span .report-table {
    font-size: 10px;
}

.bold {
    font-weight: bold;
}