$color-primary: #014f9d;
$color-primary-active: #0163c4;
$color-primary-light: #ebf1f7;
$color-gray-dark: #4c5264;
$color-gray: #e5e5e5;
$color-gray-medium: #979797;
$color-gray-light: #f5f5f5;

$color-success: #0E9E0B;
$color-warning: #D29010;
$color-error: #FF1C1C;

$color-white: #ffffff;
$color-black-light: #555555;

$color-grayish-blue: #577381;

$color-grid-background: #f7f8f9;

$size-grid-component: 30px;
$font-color-dark: #3e3e3e;
$font-color-dark-light: #585858;
